<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQ1AhRFrIcRA2oNlADaJ7I6-Jg1I2djTU</string>
	<key>GCM_SENDER_ID</key>
	<string>674125920587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>binus.ac.id.MMS-LecProject</string>
	<key>PROJECT_ID</key>
	<string>mcslecproject</string>
	<key>STORAGE_BUCKET</key>
	<string>mcslecproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674125920587:ios:5ff836dc192ab479f050ce</string>
</dict>
</plist>